<h1>Log in</h1>

<%= form_tag '/login', :class => "form-inline" do %>
  <div class="form-group">
    E-mail address: <%= text_field_tag :email %>
    Password: <%= password_field_tag :password %>
  </div>
  <%= submit_tag 'Submit', :class => 'btn' %>

<% end %>
